{% extends 'layout.html.twig' %}

{% block style %} /assets/css/events.css {% endblock %}

{% block content %}

<div class="listEvents container">
    <h1>Gestion des événements</h1>

    {% for event in events %}
    <div class="card text-center">
        <div class="card-body">
            <div class="card-text row ">
                <div class="col-1 middle">{{ event.id }}</div>
                <div class="col-md-7 col-11 middle">{{ event.title }}</div>
                <div class="col-md-4 col-12">
                    <a href="/admin/event/add" class="btn btn-link"><i class="fas fa-pen-square"></i></a>
                    <a href="/admin/event/remove" class="btn btn-link"><i class="fas fa-minus-square"></i></a>
                </div>
            </div>
            <hr />
            <div class="eventContent row">
                <div class="col-12 text-center">
                    <i class="fas fa-angle-down" onclick="ShowContent({{ event.id }})"></i>

                    <div class="hidden row">
                        {% if event.image_url %}
                        <div class="col-md-8 col-sm-12 my-auto">
                        {% else %}
                        <div class="col-md-12 col-sm-12">
                        {% endif %}
                        <p class="card-text">{{ event.content }}</p>
                        </div>
                        
                        {% if event.image_url %}
                        <div class="col-md-4 col-sm-12">
                            <img class="img-thumbnail" src="/assets/images/events/{{ event.image_url }}" alt="" />
                        </div>
                        {% endif %}
                    </div>

                    {% if event.link_url %}
                    <div class="card-footer">
                        <a class="btn btn-primary" href="{{ event.link_url }}">Lien vers la suite de l'article</a>
                    </div>
                    {% endif %}

                </div>
            </div>
            </div>
        </div>
        {% endfor %}

        <div class="text-center">
            <a href="/admin/event/add" type="submit" class="btn btn-primary">Ajouter un événement</a>
        </div>
    </div>
    {% endblock %}