<div class="radiant-bg">
    <section class="content-2 section-pad">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 text-center text-md-left mb-4 my-auto">

                    <div id="map"></div>
                </div>
                <div class="text-map col-sm-12 col-md-4 text-center text-md-left">
                    <h2 class="title-adress mb-4 mt-4">informations pratiques</h2>
                    {% for address in addreses %}
                        <h3 class="pt-4 minititle-adress">{{ address.gym_name }}</h3>
                        <address>
                            {{ address.gym_address }}<br>
                            {{ address.zip_code }} {{ address.city }}<br>
                        </address>
                        <p>{{ address.date_info }}</p>
                        <p>{{ address.schedule_info }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
